h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	letter-spacing: 0.06em;
}

.entry-meta h3 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.9em;
}

.entry-header h1 {
	margin-bottom: 25px;
	margin-top: 50px;
}

.section-title,
.entry-title {
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 50px;
  margin-top: 50px;
  a {
    text-decoration: none;
  }
}

.site-branding {
	display: inline-block;
  width: 100%;
  text-align: center;
	h1 {
		margin: 0;
		line-height: 80px;
	}
  @include mq(medium) {
    width: auto;
    text-align: left;
  }
}
a.logo {
	text-decoration: none;
}

.hero {
  display: flex;
  position: relative;
  height: auto;
  min-height: 300px;
  width: 100%;
  margin-bottom: 50px;
  padding: 75px 10%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  align-items: center;
  justify-content: center;

  @include mq(medium) {
    height: 350px;
    padding: 0 10%;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $true-white;

    opacity: 0.8;
    z-index: 0;
  }
  .entry-header {
    position: relative;

    font-size: 1.5em;
    text-align: center;

    z-index: 1;
    h1 {
      margin: 0;
    }
  }
}

.collection__title {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  a {
    text-decoration: none;
  }
}

.writing__title {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  a {
    text-decoration: none;
  }
}
.writing__date {
  margin: 0;
  font-weight: 400;
}
