.site-header {
	height: auto;
	@include mq(medium) {
		height: 80px;
	}
}

.main-navigation {
	clear: both;
	display: inline-block;
	float: none;
	width: 100%;
	text-align: center;

	ul {
		list-style: none;
		margin: 0 0 30px;
		padding-left: 0;
		@include mq(medium) {
			margin: 0;
		}
	}
	
	li {
		position: relative;
		padding: 0;
		display: block;
		margin-bottom: 1.5em;
		&:last-child {
			padding: 0;
		}
		@include mq(medium) {
			padding-right: 30px;
			margin: 0;
			display: inline-block;
		}
	}	
	a {
		display: inline-block;
		text-decoration: none;
		line-height: 1em;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		font-weight: 100;
		@include mq(medium) {
			line-height: 78px;
		}
		&:hover {
			&::after {
				width: 100%;
				background-color: $color__text-main;
			}
		}
	}
	a::after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
	}

	@include mq(medium) {
		position: absolute;
		right: 15px;
		width: auto;
		text-align: right;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		&::after {
			width: 100%;
			background-color: $color__text-main;
		}
	}
}
