.main-navigation {
	clear: both;
	display: inline-block;
	float: none;
	width: 100%;
	text-align: center;

	ul {
		list-style: none;
		margin: 0 0 30px;
		padding-left: 0;
		@include mq(medium) {
			margin: 0;
		}
	}
	
	li {
		position: relative;
		padding: 0;
		display: block;
		margin-bottom: 1.5em;
		&:last-child {
			padding: 0;
		}
		@include mq(medium) {
			padding-right: 50px;
			margin: 0;
			display: inline-block;
		}
	}
	
	a {
		display: block;
		text-decoration: none;
		line-height: 1em;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		font-weight: 100;
		@include mq(medium) {
			line-height: 80px;
		}
	}

	@include mq(medium) {
		float: right;
		width: auto;
		text-align: left;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		// border-bottom: 3px solid grey;
	}
}
