.writing__excerpt,
.entry-content {
	max-width: 750px;
	margin: 0 auto 50px;
	p {
		font-size: 1.15em;
		line-height: 2em
	}
}
.collection__content {
	padding: 0;
	text-align: center;
	@include mq(medium) {
		padding-left: 30px;
		text-align: left;
	}
	h2 {
		margin: 0 0 25px;
	}
}
.writing__excerpt {
	text-align: center;
}
